.ctn-products{
    width: 68%;
    height: 100%;
    background-color: white;
    box-shadow: 10px 5px 5px #797777;
    border-radius: 30px;
    margin-left: 43px;
}

.itm-titulo{
    padding-left: 7px;
}

.containermy-5{
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    justify-content: space-evenly;
    padding-top: 25px;
}
