.App-header {
    display: flex;
    color: white;
    border-radius: 30px;
    align-items: center;
    background-color: #c0c0c0;
    box-shadow: 10px 5px 5px #797777;
    margin-top: 20px;
    width: 80%;
  }

  .App-header ul{
    display: flex;
    justify-content: space-between;
    width: 50%;
    font-size: 27px;
  }
  .logo-e{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 10%;
  }
  .logo-e p{
    font-size: 30px;
    padding-bottom: 20px;
    
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-logo {
    width: 120px;
    height: 120px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
/*/////////CARRITO/////////*/
  .icon-container{
   display: flex;
   cursor:pointer;
   font-size: 37px;
  }
  .cart{
    position: relative;
  }


  #cart_menu_num {
    position: absolute;
    top: 0;
    left: 55%;
    background: red;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 2px;
  }


/*///////SEARCH-BOX HEADER///////////*/
  .search-box{
    width: fit-content;
    height: fit-content;
    position: relative;
  }

  .input-search{
    height: 40px;
    width: 30px;
    border-style: none;
    padding: 10px;
    font-size: 18px;
    letter-spacing: 2px;
    outline: none;
    border-radius: 25px;
    transition: all .5s ease-in-out;
    background-color: #c0c0c0;
    padding-right: 40px;
    color:#fff;
  }
  .input-search::placeholder{
    color:rgba(255,255,255,.5);
    font-size: 28px;
    letter-spacing: 2px;
    font-weight: 100;
  }
  .btn-search{
    width: 30px;
    height: 40px;
    border-style: none;
    font-size: 50px;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    border-radius: 50%;
    position: absolute;
    right: 0px;
    color:#ffffff ;
    background-color:transparent;
    pointer-events: painted;  
  }
  .btn-search:focus ~ .input-search{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  .input-search:focus{
    width: 300px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom:1px solid rgba(255,255,255,.5);
    transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
  }
  

  header .iconos-header{
    display: flex;
    justify-content: flex-end;
    width: 80%;
    padding-top: 5px;
  }
  