* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
	height: 100%;
}

body{
  background-color: #282c34;
}

.ctn-navbar{
  display: flex;
  justify-content: center;
}
.ctn-home{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding-top: 35px
}

@import url("./components/Navbar/header.css");
@import url('./components/ItemListContainer/itemListContainer.css');



