.App-header {
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
    border-radius: 30px;
    align-items: center;
    background-color: #c0c0c0;
    box-shadow: 10px 5px 5px #797777;
  }

  .App-header ul{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding-left: 60px;
  
  
  }
  .logo-e{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-e p{
    font-size: 20px;
  
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  .App-logo {
    width: 170px;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  